/* De standaard CSS opbouw. */

body {
    margin: 0 auto;
    width: 960px;
    background-color: #FFFB78;

}

div.header {
    width: 960px;
    height: 100px;
}

div.main-container {
    width: 960px;
    height: 100%;
}


div.main-container > div {
    display: flex;
    justify-content: space-between;
}

div.footer {
    width: 960px;
}

div.footer div.contact {
    width: 960px;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

h3 {
    font-size: 22px;
}

div.menu {
    margin-top: 50px;
    width: 960px;
    text-align: center;
}

div.menu > a {
    color: blue;
}

/* De index.php login pagina */
div.header h1 {
    width: 960px;
    text-align: center;
}

div.main-container div.login {
    width: 960px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* De beheer pagina */


/* De beheer Admin pagina */


/* de producten pagina */
div.main-content-producten > div {
    display: flex;
    justify-content: center;
}

div.main-content-producten div.product_invoer {
    width:960px;
}