/* De standaard CSS opbouw. */

body {
    margin: 0 auto;
    width: 960px;
    background-color: #FFFB78;

}

#result{
    position:relative;
    width:500px;
    margin:0 auto;
}

div.header {
    width: 960px;
    height: 100px;
}

div.main-container {
    width: 960px;
    height: 100%;
}


div.main-container > div {
    display: flex;
    justify-content: space-between;
}

div.footer {
    width: 960px;
}

div.footer div.contact {
    width: 960px;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

h3 {
    font-size: 22px;
}

div.menu {
    margin-top: 50px;
    width: 960px;
    text-align: center;
}

div.menu > a {
    color: blue;
}

/* De index.php login pagina */
div.header h1 {
    width: 960px;
    text-align: center;
}

div.main-container div.login {
    width: 960px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* de producten pagina */
div.main-content-producten > div {
    display: flex;
    justify-content: center;
    width:960px;
    flex-wrap: wrap;
}

div.main-content-producten div.product_update{
    width: 960px;
}

/* de fabriek pagina */
div.main-content-fabrieken > div {
    display: flex;
    justify-content: center;
}

div.main-content-fabrieken div.fabrieken {
    width:960px;
}

/* de locaties pagina */
div.main-content-locaties > div {
    display: flex;
    justify-content: center;
}

div.main-content-locaties div.locaties {
    width:960px;
}

/* de orders pagina */
div.main-content-orders > div {
    display: flex;
    justify-content: center;
}

div.main-content-orders div.orders {
    width:960px;
}


/* De neheerder admin panel */
div.main-content-admin {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-left: 180px;
    margin-right: 119px;
}

div.main-content-admin div.verwijderen {
    margin-bottom: 40px;
}

div.verwijderen_wv {
    margin-bottom: 40px;
}

div.main-container div.manager {
    margin-left: 20px;
}

div.main-container div.beheerder {
    margin-left: 20px;
}

div.main-container div.werkenemer {
    margin-left: 20px;
}

div.werkenemer {
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 15px;
}

div.manager {
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 15px;
}

div.beheerder {
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 15px;
}